.products-container-shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px;
  width: 60%;
}
.btn {
  width: 100px;
  padding: 9px 5px;
  cursor: pointer;
  background-color: #06eaf5;
  border-radius: 5px;
}
.cartContainer {
  width: 30%;
  position: fixed;
  right: 30px;
  background-color: rgba(255, 235, 205, 0.322);
  padding: 20px;
}
.scroll {
  height: 400px;
}
